.header{
    grid-column: main-start / main-end;
}

.menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6;
    border-bottom: 1px solid rgba($color-primary-dark,.5);

    &--heading{
        margin-left: 3rem;
    }

    &__user{
        display: flex;
        align-items: center;
        margin-right: 2rem;

        &--img{
            clip-path: circle();
            width: 6rem;
            height: auto;
        }

        &--heading{
            margin-right: 3rem;
        }
    }

    &__btn{
        margin-left: 3rem;
    }
}
