.sidenav{
    grid-column: main-start / content;
    grid-row: 2 / -1;
    background-color: #1c1c17;
    text-align: center;
    color: white;
    &>*{
        font-size: 1.6rem;
        padding: 1rem;
        list-style: none;
        cursor: pointer;

        &:hover{
            background-color: $color-primary-light;
            color: black;
        }
    }
}