%heading {
  font-family: $font-secondary;
  font-weight: 400;
}

.heading--1 {
}
.heading--2 {
  @extend %heading;
  font-size: 4rem;
  line-height: 1;
}
.heading--3 {
  @extend %heading;
  font-size: 1.8rem;
  font-weight: 200;
}
.heading--4 {
}
.heading--5 {
}

.mb-sm{
    margin-bottom: 2rem;
}
.mb-md{
    margin-bottom: 3rem;
}
.mb-lg{
    margin-bottom: 4rem;
}
.mb-hg{
    margin-bottom: 8rem;
}